html {
    overflow-x: hidden;
}

body {
    background-color: #0C0D16ff;
}

.lighter-section {
    background-color: #242741;

}

.even-lighter-section {
    background-color: #47536F;
}

.darker-section {
    background-color: #0C0D16ff;
}

.full-screen-container {
    min-height: 100vh;
}

.header-container {
    min-height: 25vh;
}

.centered {
    text-align: center;
}

.align-left {
    text-align: left;
}

.hex_backing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/hex_backing.jpg');
}

.valobanner{
    background-image: url('/assets/img/VALORANT_logo.jpg');
    background-position: center;
    background-size: cover;
    max-height:200px;
}

.translucent {
    background-color: rgb(12, 13, 22, 0.9);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
}

.px-10 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.header-description {
    max-width: 1200px;
}

.centered-desktop {
    text-align: center;
}

@media (max-width: 767px) {
  .centered-desktop {
    text-align: left; 
  }
}


.list {
    list-style-position: inside;
}
.centered-desktop {
    text-align: center;
}

.aboutimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/hex_backing.jpg');
}

@media (max-width: 767px) {
  .centered-desktop {
    text-align: left; 
  }
}

.image-box-responsive {
  position: relative;
  width: 100%;
  padding-top: 100%; 
  height: 0;
  overflow: hidden;
  border: 1px solid #dee2e6;
}

.image-box-responsive img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.iframevideocontainer {
  position: relative;
  width: 50%; 
  padding-top: 56.25%; 
  align-items:left;
}

.iframevideocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-containerpic1 {
  background-image: url("/assets/img/pic1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:250px;
  min-width:250px;
  background-size:contain;
}
.my-containerpic2 {
  background-image: url("/assets/img/pic2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height:250px;
  min-width:250px;
  background-size:contain;
}

.iframe {
    position:relative;
}

.mlbbbanner{
    background-image: url("/assets/img/mlbb.jpg");
    background-position: center;
    background-size: cover;
    max-height:200px;
}